.hero-buttom{
    display: inline-block;
    margin-top: 10px;
    padding: 0 clamp(10px, 2vw, 20px) 0 0;
    border-right: 1px solid gray;
    font-size: clamp(5px, 1vw, 16px);

    .icon{
        margin-bottom: 10px;
    }
}