.cta-btn{
    width: fit-content;
    height: 40px;
    padding: 5px 15px;
    border: 2px solid var(--color-accent);
    border-radius: 50px;
    outline: none;
    display: flex;
    gap: 10px;
    align-items: center;

}