.torn-edge {
  position: absolute;
  // top: -40px; // Aligns to the top edge of the light section
  bottom: -65px;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 4;
  pointer-events: none;
  overflow: hidden;

  svg {
    display: block;
    width: 100%;
    height: 100%;
  }
}